
apyugioh/.idea/discord.xml

apyugioh/db/

apyugioh/out/

apyugioh/target/

phase0.simp.bak

phase0.simp.user

.idea/project-team-29.iml

.idea/modules.xml

.idea/vcs.xml

apyugioh/logs/

apyugioh/run.sh
